<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="add">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Agregar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="delete">
      <ion-icon name="trash-outline"></ion-icon>
      <ion-label>Borrar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="update">
      <ion-icon name="arrow-up-circle-outline"></ion-icon>
      <ion-label>Actualizar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>