.size-icon{
  font-size: 128px !important;
  color: steelblue;;
  
}
.content{
  padding-top: 15%;
  padding-bottom: 15%;
}
.img{
  position: absolute;
  z-index: 50;
  margin: auto;
  width: 50%;
  height: 25%;
}
.container-img{
width: 50%;
height: 25%;
margin: auto;
}