<app-admin></app-admin>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Mi cuenta</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-text-center">
    <div class="container-img">
      <ion-grid class="img">
        <ion-row>
          <ion-col size="12" *ngFor="let photo of photoService.photos; index as position">
            <ion-img src="{{ photo.webviewPath }}"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
      <img src="{{user.img}}" alt="" class="img">
      <ion-icon name="person-circle-outline" class="size-icon"></ion-icon>
    </div>
    <ion-button color="primary" shape="round" (click)="photoService.addNewToGallery()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-button>
    <ion-button color="primary" shape="round">
      <ion-icon name="document-attach-outline"></ion-icon>
    </ion-button>
    <input type="file" id="file" #userPhoto (change)="conexion.onFileSelected($event,user.id)" name="image"
      autocomplete="off" />
    <br><br>
    <form (ngSubmit)="onSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-item>
              <ion-label position="floating">Username:</ion-label>
              <ion-input [(ngModel)]='user.username' name='username'></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-item>
              <ion-label position="floating">Email:</ion-label>
              <ion-input inputmode="email" type="email" [(ngModel)]='user.email' name='email' disabled></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-item>
              <ion-label position="floating">Password:</ion-label>
              <ion-input [(ngModel)]='user.password' name='password' disabled></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-item>
              <ion-label position="floating">Telefono:</ion-label>
              <ion-input [(ngModel)]='user.tel' name='tel'></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <br><br>
      <ion-button color="primary" shape="round" type="submit">
        Actualizar
      </ion-button>
    </form>
  </ion-content>
</div>